<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude" (markerClick)="clickedMarker(infowindow)">
        <agm-info-window #infowindow>
            <b>Latitude </b>{{latitude}}<br>
            <b>Longitude </b>{{longitude}}
        </agm-info-window>
    </agm-marker>
</agm-map>


<div class="row mt-2">
    <div class="col-sm-12">
        <button mat-raised-button color="primary" class="pull-right" (click)="getCurrentLocation()" title="My Location">Get My Location <mat-icon>location_on</mat-icon></button>
    </div>
</div>