<div class="toolbar mb-4" role="banner">
    <img width="40" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <span>Slash My Profile</span>
    <div class="spacer"></div>
</div>



<div class="main-content">
    <div class="container-fluid">
        <div class="row m-4">


            <div class="col-sm-12 col-md-6 offset-lg-2 col-lg-4">

                <mat-card>
                    <img mat-card-image src="https://lh3.googleusercontent.com/proxy/HErDMWTAb8bwNAeDpwoNKUUXRjkqPY2S08chXcNoaHEr9cHZm2SgIeHBb64gja0z8ajdw0VTGH8loJgcHrkAm0yKjEbwFD0wlqQE7E1GAuphfwp5oOjqn4Rls8w" alt="Background">
                    <app-image class="float-image"></app-image>
                    <mat-card-content>
                        <app-form></app-form>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <mat-card>
                    <mat-card-content>
                        <app-location></app-location>
                    </mat-card-content>
                </mat-card>
            </div>


        </div>
    </div>
</div>